.container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .image-container {
    text-align: center;
  }
  
  .image-container img {
    max-width: 100%;
    max-height: 90vh; 
  }
  