<div class="flex justify-center">
  <div class="image-container bg-center">
      <!-- <img src="https://i.ibb.co/rZnjnWP/home-2.png" alt="Home Image" class="center"> -->
      <!-- <img src="https://i.ibb.co/vVvc274/Homel.png" alt="Home Image" class="center"> -->
      <img src="https://i.ibb.co/8BCctLf/Homet.png" alt="Home Image" class="center">
  </div>
</div>


<!-- 
:root {
  --dark-color: hsl(var(--hue), 100%, 9%);
  --light-color: hsl(var(--hue), 95%, 98%);
  --base: hsl(var(--hue), 95%, 50%);
  --complimentary1: hsl(var(--hue-complimentary1), 95%, 50%);
  --complimentary2: hsl(var(--hue-complimentary2), 95%, 50%);

  --font-family: "Poppins", system-ui;

  --bg-gradient: linear-gradient(
    to bottom,
    hsl(var(--hue), 95%, 99%),
    hsl(var(--hue), 95%, 84%)
  );
}


body {
  max-width: 1920px;
  min-height: 100vh;
  display: grid;
  place-items: center;
  padding: 2rem;
  font-family: var(--font-family);
  color: var(--dark-color);
  background: var(--bg-gradient);
} 
-->
