<div class="grid grid-cols-1 gap-4 transition-[grid-template-columns] lg:grid-cols-[120px_1fr] lg:gap-8 lg:[&:has(>*:first-child:hover)]:grid-cols-[160px_1fr]">
  
  <!-- <div (mouseenter)="toggleImage(true)" (mouseleave)="toggleImage(false)" (click)="reloadPage()" class="h-24 rounded-lg bg-white border-2 border-opacity-10 border-gray-350 hover:shadow-lg hover:border-emerald-400"> -->
  <div (mouseenter)="toggleImage(true)" (mouseleave)="toggleImage(false)" (click)="reloadPage()" class="h-24 ">
    <img [src]="isMobile ? 'https://i.ibb.co/7K50gbw/Pay-Pikpng.png' : 'https://i.ibb.co/gFZGbV3/Logopng.png'" alt="Logo" class=" h-full w-full object-contain hover:border-emerald-400">
  </div>
  
  
  <div class="h-24 rounded-lg bg-white border-2 border-opacity-10 border-gray-350 hover:shadow-lg hover:border-emerald-400">
    <i class="text-slate-800 text-center block">amount: 1000 DH</i>
    <p>Access Key: {{ dataService.accessKey }}</p>
<p>Host: {{ dataService.host }}</p>
<p>Merchant ID: {{ dataService.merchantId }}</p>
<p>Order ID: {{ dataService.orderId }}</p>
<p>Amount: {{ dataService.amount }}</p>
<p>Currency: {{ dataService.currency }}</p>
<p>HMAC: {{ dataService.hmac }}</p>

    <i class="text-slate-800 text-center block">name: anas</i>
    <i class="text-slate-800 text-center block">last name: anasri</i>
    <i class="text-slate-800 text-center block">email: ana.com</i>
  </div>
  
</div>



<!-- <div class="container px-0 hover:shadow-lg hover:bg-green-50 relative">
  <div class="absolute inset-0 bg-gradient-to-r from-emerald-400 to-emerald-100 shadow-md transform -skew-y-6 sm:skew-y-0 sm:-rotate-1 sm:rounded-3xl z-0"></div>

  <div class="card bg-white rounded-xl hover:rounded-xl hover:bg-green-50 relative z-10" >

    <i class="text-slate-800 text-center block">amount: 1000 DH</i>
    <i class="text-slate-800 text-center block">name: anas</i>
    <i class="text-slate-800 text-center block">last name: anasri</i>
    <i class="text-slate-800 text-center block">email: ana.com</i>

  </div>
</div> -->