body {
	background-color: hsla(208, 87%, 97%, 0);
	margin: 0;
	padding: 0;
}

.wrapper {
	align-items: center;
	justify-content: center;
}

.slider {
	height: 100px;
	overflow: hidden;
	position: relative;
} 

.slider .slide-track {
	-webkit-animation: scroll 30s linear infinite;
	animation: scroll 30s linear infinite;
	display: flex;
	width: calc(250px * 14);
}

.slider .slide {
	height: 100px;
	width: 200px;
	margin: 0;
	padding: 0;
}

.slider .slide img {
	width: 100%;
	height: 100%;
	opacity: 0.3; /* Adjust this value to change transparency */
}

@-webkit-keyframes scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(calc(-250px * 7));
	}
}

@keyframes scroll {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(calc(-250px * 7));
	}
}
