.body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
} 

.containerwidget {
  width: 1020px;
  /* width: 900px; */
  min-height: 750px;
  height: auto;
  max-width: 100%;
  
  margin: 0 auto; /* Center the container horizontally */
  flex-direction: column; /* Arrange child elements vertically */
  align-items: center; /* Center child elements horizontally */
  z-index: 3;
  /* background-color: rgb(241, 243, 241); */
  background-color: #FCFCFC;

  padding: 15px 15px 15px 15px;
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  position: relative;

  padding: 20px;
}

@media screen and (max-width: 1025px) {
  .containerwidget {
    width: 1020px;
    min-height: 800px;
    height: auto;
    max-width: 100%;
  }
}

.spacer {
  height: 34px; 
}
.spacer2 {
  height: 27px; 
}

.btnClose{
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 4px;
  margin-right: 8px;
}

.shadow-2xl {
  --tw-shadow: 0 25px 1000px -12px rgba(0, 0, 0, 0.399);
  --tw-shadow-colored: 0 25px 50px -12px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}
