<div class="mt-16 flex justify-center items-center">
  <div class="p-10v-mt-10  rounded-md flex flex-col items-center space-y-3">
    <div class="py-8">
      <img width="30" class="hover:scale-110 duration-700 -mt-10" src="https://www.paypalobjects.com/images/shared/momgram@2x.png" />
    </div>
    <input class="p-3 border-[1px] border-slate-500 rounded-md w-80" placeholder="E-mail ou numéro de téléphone" />
    <div class="flex flex-col space-y-1">
      <input class="p-3 border-[1px] border-slate-500 rounded-md w-80" placeholder="Mot de passe" />
      <p class="text-[#0070ba]">Mot de passe oublié ?</p>
    </div>
    <div class="flex flex-col space-y-5 w-full">
      <button class="w-full bg-[#0070ba] rounded-3xl p-3 text-white font-bold transition duration-200 hover:bg-[#003087]">Connexion</button>
      <div class="flex items-center justify-center border-t-[1px] border-t-slate-300 w-full relative">
        <div class="-mt-1 font-bod bg-white px-5 absolute">Ou</div>
      </div>
      <button class="w-full border-blue-900 hover:border-[#003087] hover:border-[2px] border-[1px] rounded-3xl p-3 text-[#0070ba] font-bold transition duration-200">S'inscrire</button>
  </div>
  </div>
</div>
