/* Defining card content distribution; width, flex, center, padding */
.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px; /* Adjust the gap between items as needed */
  }
  
  .item1,
  .item2 {
    flex: auto; /* Allow item to grow, shrink, but not basis */
    width: calc(50% - 5px); /* Two columns with gap in between */
  } 
  
  /* .item1{
    width: 100%;
    max-width: 480px;
    height: 320px;
    }
     */
  /* //////////////////////////////////////////////////////////////////////////////// */
  @media screen and (max-width: 1025px) {
    .item1 {
      display: none;
    }
    
    .formuler-creditcard {
      width: 100%;
      max-width: 90% !important;
      padding-right: 5px;
    }
  }
  
  
  .creditcard {
    width: 100%;
    max-width: 500px;
    height: 50px;
    position: absolute;
    color: #fff;
    transition: .3s ease all;
    transform: rotateY(0deg);
    transform-style: preserve-3d;
    user-select: none;
    cursor: pointer;
    z-index: 2;
  }
  
  /* Animation, rotation 180deg */
  .creditcard.active {
    transform: rotateY(180deg);
  }
  
  .creditcard > div { 
    padding: 35px;
    border-radius: 15px;
    min-height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: -5px 5px 10px rgba(33, 64, 41, 0.6);
  }
  
  /* Front of the credit card */
  .creditcard .delantera {
    width: 100%;
    background: url(https://i.ibb.co/pb9PKkN/bg-card.jpg);
    background-size: cover;
    backface-visibility: hidden;
    position: absolute;
  }
  
  /* Brand logo positioning at the top of the credit card */
  .delantera .logo-marca {
    text-align: right;
    min-height: 50px;
  }
  
  /* Setting size for the credit card logo that changes dynamically */
  .delantera .logo-marca img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 4rem;
  }
  
  /* Chip style and size */
  .delantera .chip {
    position: absolute;
    bottom: 11.5rem;
    left: 3rem;
    width: 100%;
    max-width: 60px;
    margin: 20px 0 20px 5px;
  }
  
  /* Styling labels */
  .delantera .groupe .label { 
    font-size: 1.08rem;
    color: #acacac;
    margin-bottom: .5rem;
  }
  
  /* Styling user data */
  .delantera .groupe .numero,
  .delantera .groupe .name,
  .delantera .groupe .expiracion {
    letter-spacing: 1.5px;
    color: #FFF;
    font-size: 1.5rem;
    text-transform: uppercase;
  }
  
  .expiracion {
    min-width: 5.5rem;
  }
  
  #numero {
    font-size: 1.8rem;
    position: relative;
    padding: .3rem;
  }
  
  #numero.active {
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgb(34, 34, 34);
  }
  
  /* Spacing content of the credit card to its margins (left/right) */
  .delantera .flexbox {
    display: flex;
    justify-content: space-between;
    margin-top: 1.3rem;
  }
  
  /* Back of the credit card */
  .trasera {
    width: 100%;
    max-width: 500px;
    height: 40px;
    background: url(https://i.ibb.co/J3M637D/bg-card-verso.jpg);
    background-size: cover;
    position: absolute;
    top: 0;
    transform: rotateY(180deg);
    backface-visibility: hidden;
  }
  
  .back {    
    display: flex;
    justify-content: end;
    margin: 2.5rem 1rem 1rem 0;
  }
  
  /* Styling logo on the back of the credit card */
  .trasera .logo-marca img {
    align-self: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 6rem;
  }
  
  /* Magnetic stripe */
  .trasera .barra-magnetica {
    height: 3.7rem;
    background: rgba(0, 0, 0, 0.854);
    width: 100%;
    position: relative;
    top: 2.5rem;
    left: 0;
  }
  
  /* Positioning outside of magnetic stripe */
  .trasera .datos { 
    margin: 5rem 0 0 0; 
    display: flex;
    justify-content: space-between;
  }
  
  .trasera .datos p {
    margin-bottom: 5px;
  }
  
  .invalid-input {
    color: 1px solid red;
  }
  
  /* CVV box */
  .trasera .datos #ccv {
    width: 100%;
  }
  
  .trasera .datos .groupe .ccvP {
    background: #fff;
    border-radius: 5px;
    color: #000;
    font-size: 1.2rem;
    height: 2.6rem;
    padding: .7rem;
    position: relative;
    top: 1.3rem;
    text-align: right;
    z-index: 3;
  }
  
  .trasera .leyenda { 
    font-size: 1rem;
    text-align: justify;
  }
  
  .trasera .link-banco {
    font-size: 1rem;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    position: absolute;
    bottom: 1rem;
  }
  
  /* Credit card form */
  .formuler-creditcard { 
    width: 100%;
    max-width: 42%;
    position: absolute;
    z-index: 1;
  }
  
  .formuler-creditcard.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  
  .formuler-creditcard label {
    display: block;
    color: rgba(30, 41, 59, var(--tw-text-opacity));
    margin-bottom: 5px;   
  }
  
  .formuler-creditcard input,
  .formuler-creditcard select,
  .btn-enviar {
    border: 2px solid #CED6E0;
    font-size: 15px;
    height: 40px;
    width: 100%;
    padding: 5px 0px;
    transition: .3s ease all;
    border-radius: 5px;
  }
  
  .formuler-creditcard input:hover,
  .formuler-creditcard select:hover {
    border: 2px solid #6EE7B7;
  }
  
  .formuler-creditcard input:focus,
  .formuler-creditcard select:focus {
    outline: rgba(4, 4, 4);
    box-shadow: 1px 5px 10px -5px rgba(65, 131, 66, 0.3);
  }
  
  .formuler-creditcard input {
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  
  .formuler-creditcard .flexbox {
    display: flex;
    justify-content: space-between;
  }
  
  .formuler-creditcard .expira {
    width: 100%;
  }
  
  .formuler-creditcard .ccvP {
    min-width: 100px;
  }
  
  #cvvLabel {
    font-size: 1.2rem;
    letter-spacing: .2rem;
    display: flex;
    justify-content: end;
    margin: .5rem .5rem 0 0;
  }
  
  #codigo {
    padding: 0.3rem 1.2rem 0 0;
    font-weight: bold;
    letter-spacing: .2rem;
  }
  
  .formuler-creditcard .groupe-select {
    width: 100%;
    margin-right: 1rem;
    position: relative;
  }
  
  .formuler-creditcard .groupe-select i {
    position: relative;
    color: #CED6E0;
    top: 1.07rem;
    right: .9rem;
    transition: .3s ease all;
  }
  
  .formuler-creditcard .groupe-select:hover i {
    color: #6EE7B7;
  }
  