/* Definiendo distribucion del contenido de la card; width, flex, center, padding */
.container{
    max-width: 100%;
    margin: auto ;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 2rem;
    height: min-content;
}

/* ----------------- Estilos globales de la creditcard ----------------- */
.creditcard{
    width: 100%;
    max-width: 550px;
    position: relative;
    color: #fff;
    transition: .3s ease all;
    transform: rotateY(0deg);
    transform-style: preserve-3d;
    user-select: none;
    cursor: pointer;
    z-index: 2;
}


/* animation, rotation 180deg */
.creditcard.active{
    transform: rotateY(180deg) ;
}

.creditcard > div { 
    padding: 35px;
    border-radius: 15px;
    min-height: 340px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: -10px 10px 15px rgba(33, 64, 41, 0.6) ;
}

/* --------------- creditcard Delantera --------------- */


/* Estilo de fondo de la creditcard */
.creditcard .delantera {
    width: 100%;
    background: url(/assets/img/bg-tarjeta/bg-card.jpg);
    background-size: cover;
    backface-visibility: hidden;
    position: relative;

}

/* posicion de la marca en la parte superior de la creditcard */
.delantera .logo-marca {
    text-align: right;
    min-height: 50px;
}

/* dandole el tamaño al logo de la creditcard que cambia dinámicamente */
.delantera .logo-marca img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 4rem;
}

/* estilo y tamaño del chip */
.delantera .chip {
    position: absolute;
    bottom:13rem;
    left: 3rem;
    width: 100%;
    max-width: 60px;
    margin: 20px 0 20px 5px;
}

/* dandole estilo a los labels */
.delantera .grupo .label { 
    font-size: 1.08rem;
    color: #acacac;
    margin-bottom: .5rem
}

/* dandole estilo a los datos del usuer */
.delantera .grupo .numero,
.delantera .grupo .name,
.delantera .grupo .expiracion {
    letter-spacing: 1.5px;
    color: #FFF;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.expiracion{
    min-width: 5.5rem;
}

#numero{
    font-size: 1.8rem;
    position: relative;
    padding: .3rem;
}

#numero.active{
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgb(34, 34, 34)
}

/* espaciando el contenido de la creditcard a sus magenes (left/right) */
.delantera .flexbox {
    display: flex;
    justify-content: space-between;
    margin-top: 1.3rem;
}

/* ----------------- creditcard Trasera ----------------- */

.trasera {
    height: 345px;
    max-width: 550px;
    min-width: 550px;
    background: url(/assets/img/bg-tarjeta/bg-card-verso.jpg);
    background-size: cover;
    position: absolute;
    top: 0;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.back {    
    display: flex;
    justify-content: end;
    margin: 2.5rem 1rem 1rem 0;
}

.trasera .logo-marca img {
    align-self: center;
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 6rem;
}

/* banda magnetica */
.trasera .barra-magnetica {
    height: 3.7rem;
    background: rgba(0, 0, 0, 0.854);
    width: 100%;
    position: absolute;
    top: 2.5rem;
    left: 0;
}

/* posicionando fuera de barra magnetica */
.trasera .datos { 
    margin: 5rem 0 0 0; 
    display: flex;
    justify-content: space-between;
}

.trasera .datos p {
    margin-bottom: 5px;
}

/* recuadro CVV */
.trasera .datos #ccv {
    width: 100%;
}

.trasera .datos .grupo .ccvP {
    background: #fff;
    border-radius: 5px;
    color: #000;
    font-size: 1.2rem;
    height: 2.6rem;
    padding: .7rem;
    position: relative;
    top: 1.3rem;
    text-align: center;
    z-index: 3;
}

.trasera .leyenda { 
    font-size: 1rem;
    line-height: 22px;
    text-align: justify;
}

.trasera .link-banco {
    font-size: 1rem;
    color: #FFF;
    text-decoration: none;
    text-align: center;
    position: relative;
    bottom: 1rem
}

/* ---------------- container Boton ----------------*/

.container-btn .btn-abrir-formuler {
    background: #23d27b;
    color: #fff;
    font-size: 1.6rem;
    position: relative;
    width: 3rem;
    height: 3rem;
    bottom: 1.5rem;
    border:none;
    border-radius: 100%;
    box-shadow: -5px 4px 8px rgba(40, 171, 88, 0.646);
    z-index: 10;
    padding: .2rem;
    transition: all .2s ease;
    cursor: pointer;
}

.container-btn .btn-abrir-formuler:hover {
    background: #037b3f
}

.container-btn .btn-abrir-formuler.active {
    transform: rotate(45deg)
}

/* -------------------- Formuler creditcard -------------------- */

.formuler-creditcard { 
    background: #fff;
    width: 100%;
    padding: 150px 30px 30px 30px;
    max-width: 90%;
    position: relative;
    bottom: 10rem;
    z-index: 1;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: clip-path 0.4s ease-out;
}

.formuler-creditcard.active{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.formuler-creditcard label {
    display: block;
    color: #7d8994;
    margin-bottom: 5px;   
}

.formuler-creditcard input,
.formuler-creditcard select,
.btn-enviar {
    border: 2px solid #CED6E0;
    font-size: 18px;
    height: 50px;
    width: 100%;
    padding: 5px 12px;
    transition: .3s ease all;
    border-radius: 5px;
}

.formuler-creditcard input:hover,
.formuler-creditcard select:hover {
    border: 2px solid #6EE7B7;
}

.formuler-creditcard input:focus,
.formuler-creditcard select:focus {
    outline: rgba(4,4,4);
    box-shadow: 1px 7px 10px -5px rgba(90,116,148,0.3);
}


.formuler-creditcard input {
    margin-bottom: 20px;
    text-transform: uppercase;
}

.formuler-creditcard .flexbox {
    display: flex;
    justify-content: space-between;
}

.formuler-creditcard .expira {
    width: 100%;
}

.formuler-creditcard .ccvP {
    min-width: 100px;
}

#cvvLabel{
    font-size: 1.2rem;
    letter-spacing: .2rem;
    display: flex;
    justify-content: end;
    margin: .5rem .5rem 0 0;
}

#codigo{
    padding: 0.3rem 1.2rem 0 0;
    font-weight: bold;
    letter-spacing: .2rem;
}

.formuler-creditcard .grupo-select {
    width: 100%;
    margin-right: 1rem;
    position: relative;
}

.formuler-creditcard .grupo-select i {
    position: absolute;
    color: #CED6E0;
    top: 1.07rem;
    right: .9rem;
    transition: .3s ease all;
}

.formuler-creditcard .grupo-select:hover i {
    color: #6EE7B7;
}

.formuler-creditcard .btn-enviar {
    border: none;
    padding: .6rem;
    font-size: 1.5rem;
    color: #fff;
    background: #6EE7B7;
    box-shadow: 2px 2px 10px 0px rgba(11, 209, 110, 0.4);
    cursor: pointer;
}

.formuler-creditcard .btn-enviar:hover{
    background: #6EE7B7;
}

/* ////////////////////////////////////////////////////////////////////////////////////////////////////// */


body {
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 100vh;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    font-family: 'Raleway';
}

.payment-title {
    width: 100%;
    text-align: center;
}

.form-container .field-container:first-of-type {
    grid-area: name;
}

.form-container .field-container:nth-of-type(2) {
    grid-area: number;
}

.form-container .field-container:nth-of-type(3) {
    grid-area: expiration;
}

.form-container .field-container:nth-of-type(4) {
    grid-area: security;
}

.field-container input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.field-container {
    position: relative;
}

.form-container {
    display: grid;
    grid-column-gap: 10px;
    grid-template-columns: auto auto;
    grid-template-rows: 90px 90px 90px;
    grid-template-areas: "name name""number number""expiration security";
    max-width: 400px;
    padding: 20px;
    color: #707070;
}

label {
    padding-bottom: 5px;
    font-size: 13px;
}

input {
    margin-top: 3px;
    padding: 15px;
    font-size: 16px;
    width: 100%;
    border-radius: 3px;
    border: 1px solid #dcdcdc;
}

.ccicon {
    height: 38px;
    position: absolute;
    right: 6px;
    top: calc(50% - 17px);
    width: 60px;
}

/* CREDIT CARD IMAGE STYLING */
.preload * {
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
}

.container {
    width: 100%;
    max-width: 400px;
    max-height: 251px;
    height: 54vw;
    padding: 20px;
}

#ccsingle {
    position: absolute;
    right: 15px;
    top: 20px;
}

#ccsingle svg {
    width: 100px;
    max-height: 60px;
}

.creditcard svg#cardfront,
.creditcard svg#cardback {
    width: 100%;
    -webkit-box-shadow: 1px 5px 6px 0px black;
    box-shadow: 1px 5px 6px 0px black;
    border-radius: 22px;
}

#generatecard{
    cursor: pointer;
    float: right;
    font-size: 12px;
    color: #fff;
    padding: 2px 4px;
    background-color: #909090;
    border-radius: 4px;
    cursor: pointer;
    float:right;
}

/* CHANGEABLE CARD ELEMENTS */
.creditcard .lightcolor,
.creditcard .darkcolor {
    -webkit-transition: fill .5s;
    transition: fill .5s;
}

.creditcard .lightblue {
    fill: #03A9F4;
}

.creditcard .lightbluedark {
    fill: #0288D1;
}

.creditcard .red {
    fill: #ef5350;
}

.creditcard .reddark {
    fill: #d32f2f;
}

.creditcard .purple {
    fill: #ab47bc;
}

.creditcard .purpledark {
    fill: #7b1fa2;
}

.creditcard .cyan {
    fill: #26c6da;
}

.creditcard .cyandark {
    fill: #0097a7;
}

.creditcard .green {
    fill: #66bb6a;
}

.creditcard .greendark {
    fill: #388e3c;
}

.creditcard .lime {
    fill: #d4e157;
}

.creditcard .limedark {
    fill: #afb42b;
}

.creditcard .yellow {
    fill: #ffeb3b;
}

.creditcard .yellowdark {
    fill: #f9a825;
}

.creditcard .orange {
    fill: #ff9800;
}

.creditcard .orangedark {
    fill: #ef6c00;
}

.creditcard .grey {
    fill: #bdbdbd;
}

.creditcard .greydark {
    fill: #616161;
}

/* FRONT OF CARD */
#svgname {
    text-transform: uppercase;
}

#cardfront .st2 {
    fill: #FFFFFF;
}

#cardfront .st3 {
    font-family: 'Source Code Pro', monospace;
    font-weight: 600;
}

#cardfront .st4 {
    font-size: 54.7817px;
}

#cardfront .st5 {
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
}

#cardfront .st6 {
    font-size: 33.1112px;
}

#cardfront .st7 {
    opacity: 0.6;
    fill: #FFFFFF;
}

#cardfront .st8 {
    font-size: 24px;
}

#cardfront .st9 {
    font-size: 36.5498px;
}

#cardfront .st10 {
    font-family: 'Source Code Pro', monospace;
    font-weight: 300;
}

#cardfront .st11 {
    font-size: 16.1716px;
}

#cardfront .st12 {
    fill: #4C4C4C;
}

/* BACK OF CARD */
#cardback .st0 {
    fill: none;
    stroke: #0F0F0F;
    stroke-miterlimit: 10;
}

#cardback .st2 {
    fill: #111111;
}

#cardback .st3 {
    fill: #F2F2F2;
}

#cardback .st4 {
    fill: #D8D2DB;
}

#cardback .st5 {
    fill: #C4C4C4;
}

#cardback .st6 {
    font-family: 'Source Code Pro', monospace;
    font-weight: 400;
}

#cardback .st7 {
    font-size: 27px;
}

#cardback .st8 {
    opacity: 0.6;
}

#cardback .st9 {
    fill: #FFFFFF;
}

#cardback .st10 {
    font-size: 24px;
}

#cardback .st11 {
    fill: #EAEAEA;
}

#cardback .st12 {
    font-family: 'Rock Salt', cursive;
}

#cardback .st13 {
    font-size: 37.769px;
}

/* FLIP ANIMATION */
.container {
    perspective: 1000px;
}
/* 
.creditcard {
    width: 100%;
    max-width: 400px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: -webkit-transform 0.6s;
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
    transition: transform 0.6s, -webkit-transform 0.6s;
    cursor: pointer;
}

.creditcard .front,
.creditcard .back {
    position: absolute;
    width: 100%;
    max-width: 400px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    color: #47525d;
}

.creditcard .back {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.creditcard.flipped {
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
} */