<mat-horizontal-stepper labelPosition="bottom" [linear]="true" #stepper>

    <mat-step  [stepControl]="cardForm" label="Paiement par carte" [editable]="false">
      <form [formGroup]="cardForm">
        <app-cardinfo ></app-cardinfo>
        <div class="flex justify-end mt-80">
          <button mat-button matStepperNext class="bg-emerald-500 hover:bg-emerald-700 text-white font-bold py-2 px-4 rounded">
            Next
          </button>
        </div> 
      </form>
    </mat-step>

  
    <mat-step label="done"  >
    <app-card-congrat></app-card-congrat>      
    <div class="flex justify-end">
        <button mat-button  (click)="reloadPage()" routerLink="<app-home/>" class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded">
          Done
        </button>
      </div>
    </mat-step>
    
  </mat-horizontal-stepper>
  