<div class="flex items-center justify-center p-8">
    <!-- Author: FormBold Team -->
    <div class="mx-auto w-full max-w-[550px] bg-white">
        <form>
            <div class="mb-5">
                <label for="name" class="hidden mb-3  text-base font-medium text-[#07074D]">
                    Nom Complet
                </label>
                <input type="text" name="name" id="name" placeholder="Numero de contrat"
                    class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
            </div>
            <div class="mb-5">
                <label for="phone" class="hidden mb-3  text-base font-medium text-[#07074D]">
                    Numéro de Téléphone
                </label>
                <input type="text" name="phone" id="phone" placeholder="CIN"
                    class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
            </div>
            <div class="mb-5">
                <label for="email" class=" hidden mb-3  text-base font-medium text-[#07074D]">
                    Adresse E-mail
                </label>
                <input type="email" name="email" id="email" placeholder="Nom Mandataire"
                    class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
            </div>
            <div class="mb-5">
                <label for="phone" class="mb-3 hidden text-base font-medium text-[#07074D]">
                    Numéro de Téléphone
                </label>
                <input type="text" name="phone" id="phone" placeholder="Entrez votre numéro de téléphone"
                    class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
            </div>
            <div class="mb-5">
                <label for="email" class="mb-3 hidden text-base font-medium text-[#07074D]">
                    Adresse E-mail
                </label>
                <input type="email" name="email" id="email" placeholder="Entrez votre e-mail"
                    class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
            </div>
            
            <div>
                <button
                    class="hover:shadow-form w-full rounded-md bg-emerald-500 py-3 px-8 text-center text-base font-semibold text-white outline-none">
                    Valider
                </button>
            </div>
        </form>
    </div>
</div>
