<div class="flex">
    <div class="m-auto">
    <div>
        <div class="mt-5">
            <!-- <div class="flex">
                <div class="flex-1 py-5 pl-5 overflow-hidden">
                    <h1 class="inline text-orange-500 text-3xl font-bold leading-none">P&#64;yDirect</h1>
                </div>
            </div> -->
            <div class="px-5 pb-5">
                <input  placeholder="Numero de contrat" class="  placeholder-gray-600 w-full px-4 py-2.5 mt-2 text-base   transition duration-500 ease-in-out transform border border-gray-200 rounded-lg bg-gray-50  focus:border-emerald-500 focus:bg-white dark:focus:bg-emerald-800 focus:outline-none focus:shadow-outline focus:ring-2 ring-offset-current ring-offset-2 ring-emerald-400">
                <input  placeholder="Numéro de Téléphone" class="  placeholder-gray-600 w-full px-4 py-2.5 mt-2 text-base   transition duration-500 ease-in-out transform border border-gray-200 rounded-lg bg-gray-50  focus:border-emerald-500 focus:bg-white dark:focus:bg-emerald-800 focus:outline-none focus:shadow-outline focus:ring-2 ring-offset-current ring-offset-2 ring-emerald-400"> 
                <input  placeholder="Adresse E-mail" class="  placeholder-gray-600 w-full px-4 py-2.5 mt-2 text-base   transition duration-500 ease-in-out transform border border-gray-200 rounded-lg bg-gray-50  focus:border-emerald-500 focus:bg-white dark:focus:bg-emerald-800 focus:outline-none focus:shadow-outline focus:ring-2 ring-offset-current ring-offset-2 ring-emerald-400">
                <div class="flex">
                <div class="flex-grow w-1/4 pr-2"><input  placeholder="CIN" class="  placeholder-gray-600 w-full px-4 py-2.5 mt-2 text-base   transition duration-500 ease-in-out transform border border-gray-200 rounded-lg bg-gray-50  focus:border-emerald-500 focus:bg-white dark:focus:bg-emerald-800 focus:outline-none focus:shadow-outline focus:ring-2 ring-offset-current ring-offset-2 ring-emerald-400"></div>
                <div class="flex-grow"><input placeholder="Nom Mandataire" class="  placeholder-gray-600 w-full px-4 py-2.5 mt-2 text-base   transition duration-500 ease-in-out transform border border-gray-200 rounded-lg bg-gray-50  focus:border-emerald-500 focus:bg-white dark:focus:bg-emerald-800 focus:outline-none focus:shadow-outline focus:ring-2 ring-offset-current ring-offset-2 ring-emerald-400"></div>
                </div>
            </div>

            <hr class="mt-4">
            <div class="flex flex-row-reverse p-3">
            <div class="flex-initial pl-3">
                    <button
                        class="hover:shadow-form w-full rounded-md bg-emerald-500 py-3 px-8 text-center text-base font-semibold text-white outline-none">
                        Valider
                    </button>
            </div>
            
            </div>
        </div>
        
    </div>
</div>
</div>


<!-- <div class="flex items-center justify-center p-8">
    <div class="mx-auto w-full max-w-[550px] bg-white">
        <form>
            <div class="mb-5">
                <label for="name" class="hidden mb-3  text-base font-medium text-[#07074D]">
                    Nom Complet
                </label>
                <input type="text" name="name" id="name" placeholder="Numero de contrat"
                    class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
            </div>
            <div class="mb-5">
                <label for="phone" class="hidden mb-3  text-base font-medium text-[#07074D]">
                    Numéro de Téléphone
                </label>
                <input type="text" name="phone" id="phone" placeholder="CIN"
                    class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
            </div>
            <div class="mb-5">
                <label for="email" class=" hidden mb-3  text-base font-medium text-[#07074D]">
                    Adresse E-mail
                </label>
                <input type="email" name="email" id="email" placeholder="Nom Mandataire"
                    class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
            </div>
            <div class="mb-5">
                <label for="phone" class="mb-3 hidden text-base font-medium text-[#07074D]">
                    Numéro de Téléphone
                </label>
                <input type="text" name="phone" id="phone" placeholder="Entrez votre numéro de téléphone"
                    class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
            </div>
            <div class="mb-5">
                <label for="email" class="mb-3 hidden text-base font-medium text-[#07074D]">
                    Adresse E-mail
                </label>
                <input type="email" name="email" id="email" placeholder="Entrez votre e-mail"
                    class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md" />
            </div>
            
            <div>
                <button
                    class="hover:shadow-form w-full rounded-md bg-emerald-500 py-3 px-8 text-center text-base font-semibold text-white outline-none">
                    Valider
                </button>
            </div>
        </form>
    </div>
</div> -->
